@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
p{
  margin: 0;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 50px;
}

.welcome-message{
  font-family:"Judson", serif;
  font-size: 34px;
  font-weight: bold;
}

.logo{
  width: 50px;
}