@import url("https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap");
body {
  font-family: 'Judson', serif;
  padding: 0;
  margin: 0;
}

.homePageLayout {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.homePageLayout .mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.homePageLayout .mainPage .headerContainer {
  width: 1060px;
  height: 99px;
  margin-top: 75px;
  margin-bottom: 45px;
}

.homePageLayout .mainPage .headerContainer .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePageLayout .mainPage .headerContainer .header h1 {
  font-size: 48px;
  margin: 0;
}

.homePageLayout .mainPage .headerContainer .header h2 {
  font-size: 32px;
  margin: 0;
}

.homePageLayout .mainPage .headerContainer .subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePageLayout .mainPage .headerContainer .subHeader h3 {
  font-size: 32px;
  margin: 0;
}

.homePageLayout .mainPage .myProfile {
  width: 1060px;
  margin-bottom: 30px;
}

.homePageLayout .mainPage .recommendation {
  width: 1060px;
  height: 532px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  background-color: white;
  margin-bottom: 56px;
}

.homePageLayout .mainPage .aiAssistantBar {
  width: 1060px;
  height: 532px;
}

.homePageLayout .sideWindowLayout {
  width: 500px;
  background-color: white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
