@import url("https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
.mealPageContainer {
  display: flex;
  flex-direction: column;
}

.mealPageContainer .mealHeaderBox {
  width: 1408px;
  height: 184px;
  margin-top: 70px;
  margin-bottom: 35px;
  background: linear-gradient(to left, #688B39, #94B06E);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 2px rgba(128, 128, 128, 0.135);
}

.mealPageContainer .mealHeaderBox .mealHeaderWeek {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.mealPageContainer .mealHeaderBox .mealHeaderWeek h1 {
  font-family: 'Judson', serif;
  font-size: 48px;
  color: white;
  margin: 0;
}

.mealPageContainer .mealHeaderBox .mealHeaderWeek h2 {
  font-family: 'Judson', serif;
  font-size: 32px;
  color: white;
  margin: 0;
}

.mealPageContainer .mealHeaderBox .mealHeaderMeals {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mealPageContainer .mealHeaderBox .mealHeaderMeals h3 {
  font-family: 'Instrument Sans', serif;
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin: 0;
}

.mealPageContainer .mealHeaderBox .mealCaloriesInfoContainer {
  display: flex;
  justify-content: space-around;
  width: 800px;
  background-image: url("../img/Frame 56.png");
  background-color: #F9FBF8;
  border-radius: 18px;
}

.mealPageContainer .mealHeaderBox .mealCaloriesInfoContainer .totalCaloriesBox {
  width: 147px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mealPageContainer .mealHeaderBox .mealCaloriesInfoContainer .totalCaloriesBox h1 {
  font-family: 'Judson', serif;
  font-size: 48px;
  color: #688B39;
  margin: 0;
}

.mealPageContainer .mealHeaderBox .mealCaloriesInfoContainer .totalCaloriesBox h2 {
  font-family: 'Instrument Sans', serif;
  font-size: 18px;
  color: #688B39;
  margin: 0;
}

.mealPageContainer .mealHeaderBox .mealCaloriesInfoContainer .caloriesRadialBarChartBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mealPageContainer .mealHeaderBox .mealCaloriesInfoContainer .caloriesRadialBarChartBox .RadialBarChartBox {
  width: 120px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mealPageContainer .mealHeaderBox .mealCaloriesInfoContainer .caloriesRadialBarChartBox .RadialBarChartBox h5 {
  margin: 0;
  font-family: 'Instrument Sans', serif;
  font-size: 18px;
  color: #688B39;
  margin: 0;
}

.mealPageContainer .basicTabsBox {
  margin-bottom: 62px;
}
