@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
.recommendationCardContainer {
  width: 308px;
  height: 360px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.recommendationCardContainer .recommendationCardImgBox {
  width: 308px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.recommendationCardContainer .recommendationCardImgBox .recommendationCardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recommendationCardContainer .recommendationCardInfo {
  padding: 15px;
}

.recommendationCardContainer .recommendationCardInfo h3 {
  font-family: 'Instrument Sans', serif;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 22px;
}

.recommendationCardContainer .recommendationCardInfo .preparationTimeBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.recommendationCardContainer .recommendationCardInfo .preparationTimeBox h4 {
  font-family: 'Instrument Sans', serif;
  margin: 0;
  font-size: 16px;
}

.recommendationCardContainer .recommendationCardInfo .preparationTimeBox .preparationTimeLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.recommendationCardContainer .recommendationCardInfo p {
  font-family: 'Instrument Sans', serif;
  margin: 0;
  font-size: 16px;
}
