@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.sideWindowBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .sideWindowHeader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 75px;

        .sideWindowHeaderLogo {
            margin-right: 20px;
        }

        h2 {
            font-size: 32px;
            margin: 0;
        }
    }

    .sideWindowCardsBox {
        margin-top:35px;
        margin-bottom: 95px;
        height: 680px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .upcomingMealsButt {
        width: 400px;
        height: 80px;
        background-color: #94B06E;
        border:0;
        border-radius: 18px;
        font-family: 'Instrument Sans', serif;
        font-size: 24px;
        color:white;
        font-weight: 700;
    }
}
